:root{
    /*Colors*/
    --clr-200: hsla(0, 0%, 100%, 1);
    --clr-300: hsla(0, 0%, 0%, 1);

    --clr-400: hsla(0, 0%, 15%, 1);
    --clr-500: hsla(0, 0%, 30%, 1);

    --clr-600: hsla(300, 100%, 25%, 1);

    --clr-700: hsla(323, 50%, 58%, 1);
    --clr-800: hsla(214, 50%, 58%, 1);
    --clr-900: hsla(360, 50%, 58%, 1);

    /*Button Background Colors and Font Colors*/
    --button-bg: var(--clr-300);
    --button-clr: var(--clr-200);
    --github-bg: var(--clr-600);
    --github-clr:var(--clr-200);

    --button-bg-hover:var(--clr-200);
    --button-clr-hover:var(--clr-300);
    --github-bg-hover:var(--clr-200);
    --github-clr-hover:var(--clr-600);

    --body-clr:var(--clr-500);
    --heading-clr:var(--clr-400);

    /*Fonts*/

    /*Font sizes*/
    --size-300: 1rem;
    --size-400: 1.5rem;
    --size-500: 2rem;            
    --size-600: 3rem;
    --size-700: 4rem;

    --main-heading: var(--size-600);
    --sub-heading: var(--size-500);

    --body-size: var(--size-300);

    /*Font Weights*/
    --weight-400: 400;
    --weight-500: 500;
    --weight-700: 700;
    --weight-900: 900;

    --normal:var(--weight-400);
    --button:var(--weight-700);
    --bold:var(--weight-700);
    --bolder:var(--weight-900);
}

/**************************************** Reset ***************************************/
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1; 
}

h1,h2{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
/*************************************General Styling ***********************************/
body{
    font-size: var(--body-size);
    font-weight: var(--normal);
    color:var(--body-clr);
}

.button{
    padding: .5em 1.5em .5em 1.5em;
    background-color: var(--button-bg);
    color: var(--button-clr);
    border-radius: .75em;
    font-weight: var(--button);
    border: 1px solid var(--button-bg);
    text-align: center;
}
.button:hover{
    cursor: pointer;
    background-color: var(--button-bg-hover);
    color: var(--button-clr-hover);
}
.tool-clr-100{
background-color: var(--clr-700);
}
.tool-clr-200{
    background-color: var(--clr-800);
}
.tool-clr-300{
    background-color: var(--clr-900);
}

/*************************************** Header ****************************************/
header{
    width: 100%;
    padding: 2em 0 2em 0;
}
.header--logo{
    font-size: 2rem;
    font-weight: var(--bolder);
    display: flex;
    justify-content: center;
    display: none;
}/*Popraviti header ili izbaciti skroz*/
/****************************************** Main ***************************************/

/************************************** Hero Section **********************************/

.hero-section--heading{
    display: none;
}
.hero-section--content{
    display: grid;
    justify-items: center;
    padding: 1em;
    gap:2em;
}
.hero-section--heading--main-heading{
    font-size:var(--main-heading);
    font-weight: var(--bolder);
    color:var(--heading-clr);
}
.hero-section-heading--subheading{
    font-size: var(--sub-heading);
    font-weight: var(--bold);
    color:var(--heading-clr);
}
.hero-section--content--content{
    max-width: 48ch;
}
.hero-section--content--buttons-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.button--github{
    background-color: var(--github-bg);
    border:1px solid var(--github-bg);
    padding: 1em 1.5em 1em 1.5em;
    grid-column-start: 1;
    grid-column-end: 3;
}
.button--github:hover{
    cursor: pointer;
    color: var(--github-clr-hover);
}

@media(min-width:50em){
    .hero-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        padding: 2em 0 2em 0;
    }
    .hero-section--heading{
        display: block;
        height: calc(100vh)
    }
    .hero-section--heading--background{
        position: relative;
    }
    .hero-section--content--content{
        max-width: 48ch;
    }
    .hero-section--heading--background::before{
        content: "";
        position: absolute;
        width: 150%;
        height: calc(100vh + 20em);
        background-image: url("./hero-background.jpg");
        top: -10em;
        left: 0;
        z-index: -1;
        clip-path: polygon(0% 0%, 0% 100%, 75% 0%);
        opacity: 0.9;
    }    
}
/************************************ Portfolio section ***************************/

.project-section{
    height: 80vh;
    display: grid;
    padding: 4em 1em 4em 1em;
    justify-items: center;
    margin-top: 10em;
}
.mobile-preview{
    width: 100%;
    height: auto;
}
.desktop-ilustration{
    display: none;
}
.mobile-ilustration{
    display: none;
}
.about-project{
    display: grid;
    gap:.5em; 
}
.project-section--heading{
    font-size: var(--sub-heading);
    font-weight: var(--bold);
    color:var(--heading-clr);
}
.project-section--description{
    max-width: 48ch;
}
.project-section--tools{
    padding: .25em 1em .25em 1em;
    border-radius: 1em;
    font-weight: 500;
    color: var(--clr-200);
    margin-left: 1em;
}
@media(min-width:50em){
    .mobile-preview{
        display: none;
    }
    .desktop-ilustration{
        display: block;
    }
    .mobile-ilustration{
        display: block;
    }
    .project-section{
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:1em;
        padding: 4em 0 4em 0;
        align-items: center;
    }
    
    .mobile-desktop-preview{
        display: flex;
        gap:1em;
        padding: 1em;
        align-items: center;
        justify-self: center;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 300ms ease-in, transform 500ms ease-in;
    }
    .mobile-desktop-preview.appear{
        transform: translateX(0);
        opacity: 1;
    }
    .about-project{
        transform: translatey(-100px);
        opacity: 0;
        transition: opacity 300ms ease-in, transform 500ms ease-in;
    }
    .about-project.appear{
        transform: translateY(0);
        opacity: 1;
    }
}


/***************************** Desktop and phone ilustration ***************************/
.mobile-gif{
    width: 100px;
    height: 160px;
}
.mobile-ilustration{
    width: 100px;
    height: 160px;
    border:5px solid black;
    border-bottom: 30px solid black;
    border-radius: .75em;
    position: relative;
    z-index: -1;
    margin-top: 50px;
}
.mobile-ilustration::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 7px;
    background-color: black;
    top:0;
    left: 20px;
    border-radius: 0 0 .75em.75em;
}

.mobile-ilustration::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(56, 54, 54);
    bottom:-24px;
    left: 40px;
    border-radius: 50%;
}
.desktop-ilustration{
    width: 300px;
    height: 150px;
    border:5px solid black;
    border-bottom: 30px solid black;
    border-radius: .5em;
    position: relative;
}
.desktop-gif{
    width: 300px;
    height: 150px;
}
.desktop-ilustration::before{
    content: "";
    width: 50px;
    height: 40px;
    background-color: black;
    position: absolute;
    bottom: -60px;
    left:125px;
}
.desktop-ilustration::after{
    content: "";
    width: 120px;
    height: 5px;
    background-color: black;
    position: absolute;
    bottom: -65px;
    left: 90px;
    border-radius: .3em;
}